@font-face{
    font-family: primetime;
    src: url(../fonts/PRIMETIME.ttf) format('truetype');
}

@font-face{
    font-family: Simply;
    src: url(../fonts/Simply\ Rounded.ttf) format('truetype');
}

body{
    margin:0;
    padding:0;
}
.MainContainer{
    width:100%;
    height:100vh;
}

.TopBar{
width:100%;
height:15%;
display:flex;
background-color:rgb(219, 16, 16);
font-family:Simply;
color: white;
}

.opsd{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    font-size:30px;
    margin-left:3px;
    font-family:primetime;
}
.opsd a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navigation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:4%;
}

.navigation ul{
    display:flex;
    position: relative;
    margin-bottom:5px;
    margin-top:10px;
    list-style-type: none;
}

.navigation ul li{
    font-size: 18px;
    margin: 0px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn{
    background:none;
    border:none;
    color:white;
    font-family:Simply;
    font-size:18px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:rgb(219, 16, 16);}
.navigation ul li a{
    text-decoration: none;
    color:white;
}

.logout{
    background:none;
    font-family:Simply;
    font-size:18px;
    color:white;
    border:none;
    cursor:pointer;
}

.MainBody{
width:100%;
height:85%;
background-color:whitesmoke;
display:flex;
font-family: Simply;
align-items: center;
justify-content: center;
}

.MainBody input[type="submit"]{
    margin-top: 4px;
}

.addsstudents{
    width:40%;
}

.labelfor{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-size: 30px;
}


.showTable{
    width:100%;
    height:85%;
}

.cat{
    display:flex;
    justify-content: center;
    font-family:Simply;
    font-size: 24px;
}

.cat input{
    font-size:17px;
}

.cat input[type="text"]{
    height:4%;
    margin-left:10px;
}

.cat input[type="submit"]{
    height:5%;
    margin-top:3px;

}

.studno{
    background:none;
    font-family:Simply;
    font-size:15px;
    border:none;
    cursor:pointer;
}

#dropMajorSanctionss{
    display:none;
}